p{
color: white;
text-align: center center center ;
margin: auto;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: large;
}


h4{
	text-align: center center;
	color: white;
	font-size: large;
}



body.hero
{
	background-repeat: repeat;

}



